@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Georgia', serif;
  --font-mono: 'Fira Code', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: 'Georgia', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9579 0.0193 80.1187);
  --foreground: oklch(0.3538 0.0366 59.5142);
  --card: oklch(0.9269 0.0230 84.5926);
  --card-foreground: oklch(0.3538 0.0366 59.5142);
  --popover: oklch(0.9579 0.0193 80.1187);
  --popover-foreground: oklch(0.3538 0.0366 59.5142);
  --primary: oklch(0.5224 0.0763 57.1950);
  --primary-foreground: oklch(0.9897 0.0066 106.5191);
  --secondary: oklch(0.8234 0.0353 64.4683);
  --secondary-foreground: oklch(0.3538 0.0366 59.5142);
  --muted: oklch(0.8890 0.0242 79.7333);
  --muted-foreground: oklch(0.5305 0.0314 59.9169);
  --accent: oklch(0.7503 0.0396 61.9761);
  --accent-foreground: oklch(0.3538 0.0366 59.5142);
  --destructive: oklch(0.6409 0.1539 22.4008);
  --border: oklch(0.7714 0.0348 59.9465);
  --input: oklch(0.8890 0.0242 79.7333);
  --ring: oklch(0.5224 0.0763 57.1950);
  --chart-1: oklch(0.5224 0.0763 57.1950);
  --chart-2: oklch(0.7503 0.0396 61.9761);
  --chart-3: oklch(0.6336 0.0488 55.7807);
  --chart-4: oklch(0.7007 0.0463 69.2035);
  --chart-5: oklch(0.8234 0.0353 64.4683);
  --sidebar: oklch(0.9323 0.0205 74.6555);
  --sidebar-foreground: oklch(0.3538 0.0366 59.5142);
  --sidebar-primary: oklch(0.4440 0.0646 56.3029);
  --sidebar-primary-foreground: oklch(0.9897 0.0066 106.5191);
  --sidebar-accent: oklch(0.6336 0.0488 55.7807);
  --sidebar-accent-foreground: oklch(0.3538 0.0366 59.5142);
  --sidebar-border: oklch(0.7714 0.0348 59.9465);
  --sidebar-ring: oklch(0.4440 0.0646 56.3029);
  --destructive-foreground: oklch(0.9897 0.0066 106.5191);
  --font-sans: 'Georgia', serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #6F4A2F;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 0px 0px hsl(25.3125 40.5063% 30.9804% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(25.3125 40.5063% 30.9804% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(25.3125 40.5063% 30.9804% / 0.00), 0px 1px 2px -1px hsl(25.3125 40.5063% 30.9804% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(25.3125 40.5063% 30.9804% / 0.00), 0px 1px 2px -1px hsl(25.3125 40.5063% 30.9804% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(25.3125 40.5063% 30.9804% / 0.00), 0px 2px 4px -1px hsl(25.3125 40.5063% 30.9804% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(25.3125 40.5063% 30.9804% / 0.00), 0px 4px 6px -1px hsl(25.3125 40.5063% 30.9804% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(25.3125 40.5063% 30.9804% / 0.00), 0px 8px 10px -1px hsl(25.3125 40.5063% 30.9804% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(25.3125 40.5063% 30.9804% / 0.00);
  --tracking-normal: -0.01em;
}

.dark {
  --background: oklch(0.2661 0.0178 48.0291);
  --foreground: oklch(0.9025 0.0224 63.1830);
  --card: oklch(0.3160 0.0176 40.9838);
  --card-foreground: oklch(0.9025 0.0224 63.1830);
  --popover: oklch(0.2661 0.0178 48.0291);
  --popover-foreground: oklch(0.9025 0.0224 63.1830);
  --primary: oklch(0.6925 0.0782 53.4298);
  --primary-foreground: oklch(0.2661 0.0178 48.0291);
  --secondary: oklch(0.4660 0.0321 40.9373);
  --secondary-foreground: oklch(0.9025 0.0224 63.1830);
  --muted: oklch(0.3823 0.0187 43.9198);
  --muted-foreground: oklch(0.6670 0.0231 55.9565);
  --accent: oklch(0.5305 0.0314 59.9169);
  --accent-foreground: oklch(0.9025 0.0224 63.1830);
  --destructive: oklch(0.6968 0.1242 20.7311);
  --border: oklch(0.4408 0.0224 43.0092);
  --input: oklch(0.3823 0.0187 43.9198);
  --ring: oklch(0.6925 0.0782 53.4298);
  --chart-1: oklch(0.6925 0.0782 53.4298);
  --chart-2: oklch(0.5305 0.0314 59.9169);
  --chart-3: oklch(0.5974 0.0553 54.7058);
  --chart-4: oklch(0.5797 0.0330 50.3109);
  --chart-5: oklch(0.4660 0.0321 40.9373);
  --sidebar: oklch(0.2404 0.0153 39.2562);
  --sidebar-foreground: oklch(0.9025 0.0224 63.1830);
  --sidebar-primary: oklch(0.6238 0.0770 51.3157);
  --sidebar-primary-foreground: oklch(0.2404 0.0153 39.2562);
  --sidebar-accent: oklch(0.5974 0.0553 54.7058);
  --sidebar-accent-foreground: oklch(0.9025 0.0224 63.1830);
  --sidebar-border: oklch(0.4408 0.0224 43.0092);
  --sidebar-ring: oklch(0.6238 0.0770 51.3157);
  --destructive-foreground: oklch(0.2661 0.0178 48.0291);
  --radius: 0.5rem;
  --font-sans: 'Georgia', serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #AD7A5C;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 0px 0px hsl(22.2222 33.0612% 51.9608% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(22.2222 33.0612% 51.9608% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(22.2222 33.0612% 51.9608% / 0.00), 0px 1px 2px -1px hsl(22.2222 33.0612% 51.9608% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(22.2222 33.0612% 51.9608% / 0.00), 0px 1px 2px -1px hsl(22.2222 33.0612% 51.9608% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(22.2222 33.0612% 51.9608% / 0.00), 0px 2px 4px -1px hsl(22.2222 33.0612% 51.9608% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(22.2222 33.0612% 51.9608% / 0.00), 0px 4px 6px -1px hsl(22.2222 33.0612% 51.9608% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(22.2222 33.0612% 51.9608% / 0.00), 0px 8px 10px -1px hsl(22.2222 33.0612% 51.9608% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(22.2222 33.0612% 51.9608% / 0.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}